@import url(https://use.fontawesome.com/releases/v5.15.3/css/all.css);

$timing: 265ms;
$iconColor: #0a8df9;
$accent: #fb2525;
$bluefade: green;
$gradient: green;
// $bg: rgba($iconColor, 0.05);
$bg: #f2f9fe;

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $bg;
}

header {
  background: #000;
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .empty {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .logo-container {
    text-align: center;

    @media screen and (max-width: 767px) {
      text-align: left;
    }
  }

  .logo {
    width: 200px;

    @media screen and (max-width: 767px) {
      width: 100px;
    }
  }

  & > * {
    width: 33.33%;
  }
}

.frame-container {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}

img.nft-vector {
  width: 100%;
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  max-height: 100%;
  max-width: 150px;
}

.frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  margin: 1rem auto 2rem;
  position: relative;
  text-align: center;

  @media screen and (min-width: 490px) {
    // height: 25vh;
  }

  &:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
  }
  &:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
  }
}

@mixin transformScale($size: 1) {
  transform: scale($size);
  -ms-transform: scale($size);
  -webkit-transform: scale($size);
}

.social-container {
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;

  li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
  }

  i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all $timing ease-out;

    @media screen and (max-width: 767px) {
      left: 12px;
      top: 10px;
    }

    @media screen and (max-width: 575px) {
      left: 6px;
      top: 5px;
    }
  }

  a {
    display: inline-block;

    &:before {
      @include transformScale();
      content: " ";
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, $iconColor, $accent);
      transition: all $timing ease-out;

      @media screen and (max-width: 767px) {
        width: 40px;
        height: 40px;
      }

      @media screen and (max-width: 575px) {
        width: 30px;
        height: 30px;
      }
    }

    &:hover:before {
      @media screen and (min-width: 768px) {
        transform: scale(0);
        transition: all $timing ease-in;
      }
    }

    &:hover i {
      @media screen and (min-width: 768px) {
        @include transformScale(2.2);
        color: $iconColor;
        background: -webkit-linear-gradient(45deg, $iconColor, $accent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all $timing ease-in;
      }
    }
  }
}

.qr-container {
  text-align: center;

  .qr {
    max-width: 218px;
  }
}

.fancy-text-container {
  .text-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1px;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    background-color: #000;
    color: $bg;
    display: block;
    padding: 0.5em;
    text-align: center;

    @media screen and (max-width: 575px) {
      font-size: 1.5rem;
    }
  }

  h1:nth-child(2) {
    position: absolute;
    background-color: $bg;
    color: #000;
    clip-path: inset(
      -1% -1% 50% -1%
    ); // Added the negative values to prevent icky "bleed" in Chrome
  }

  p {
    font-size: 2vw;
    font-weight: 900;
    margin-top: 1em;
    text-align: center;
    span {
      display: block;
      transform: rotate(90deg);
      margin-top: 0.25em;
    }
  }

  // Codepen spesific styling - only to center the elements in the pen preview and viewport
  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  // End Codepen spesific styling
}

#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: #000;

  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
}
